*{
    padding: 0px;
    margin: 0px;
}
.grid{
    display: grid;
    grid-template-rows: 50vh 50vh;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item5 item6"
    ;
}
.item1
{
    background-color: black;
    grid-area: item1;   
}
.item2
{
    background-color: white;
    grid-area: item2;    
}
.item3
{
    background-color: black; 
    grid-area: item3;   
}
.item4
{
    background-color: white;   
    grid-area: item4; 
}
.item5
{
    background-color: black;   
    grid-area: item5; 
}
.item6
{
    background-color: white;   
    grid-area: item6; 
}
.score{
    color: white;
    font-size: 5.5vw;
    margin: 1vw 30%;
}
.homeScore{
    color: white;
    margin: 4vw 0vw 0vw 45%;
    font-size: 3vw;
}
.guestScore{
    color: white;
    margin: 4vw 0vw 0vw 45%;
    font-size: 3vw;
}
.flex1{
    margin-left: 5vw;
}
.button1{
    font-size: 1.5vw;
    /* margin: 2vw 0px 0vw 40%; */
    margin: 3vw 3vw 0px 6vw;
}
.button2{
    font-size: 1.5vw;
    /* margin: 2vw 0px 0vw 40%; */
}
.period{
    font-size: 5.5vw;
    margin: 1vw 27%;
}
.periodtime{
    margin: 4vw 0vw 0vw 45%;
    font-size: 3vw;
}